.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    z-index: 200;
}
.sidebar-link{
    height: 89px;
    width: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;


}
.sidebar-link:hover{
    background-color: rgb(235, 227, 227);
}
.sidebar-link img{
    width: 30px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 12px;
    
}
